*{box-sizing: border-box;}
body {
font-family: "Roboto", sans-serif;
}
/*LoadingPage*/
.spin-wrapper{
position: absolute;
width: 100%;
height: 100%;
padding: 0px;
margin: 0px;
background: #fff;
display: flex;
justify-content: center;
animation: wrap 6s  forwards;
}
@keyframes wrap{
25% {opacity:1;} 
100% {opacity: 0;display: none;} 
}
.spinner{
position: absolute;
height: 60px;
width:60px;
border: 10px solid transparent;
border-top-color: #99E2D0;
top: 50%;
left: 50%;
margin: -30px;
border-radius: 50%;
animation: spin 2s forwards;
}
.spinner:before{
content:'';
position: absolute;
border: 10px solid transparent;
border-radius: 50%;
border-top-color: #9356DC;
top: -12px;
left: -12px;
right: -12px;
bottom: -12px;
animation: spin 3s forwards;
}
.spinner:after{
content:'';
position: absolute;
border: 10px solid transparent;
border-radius: 50%;
border-top-color: #FF79DA;
top: 6px;
left: 6px;
right: 6px;
bottom: 6px;  
animation: spin 4s forwards;
}
  
@keyframes spin{
0% {transform: rotate(0deg);opacity:1;} 
50%{transform: rotate(180deg);opacity: 0.5;}
100% {transform: rotate(360deg); opacity: 0;} 
}
html {
width: 100%;
height: 100%;
}
  
/* Header*/
.Header {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}
.Header h1{
display: flex;
width: 100%;
justify-content: center;
align-items: center;
font-family:Shrikhand;
color: #000;
font-size: 35px;
margin: 5px 0 10px 0;
} 
.Location{
background-color: #eaeaea;
display: flex;
align-items:center ;
justify-content: center;
height: 50px;
margin: auto;
width: 100%;
}
.Location-bar::placeholder {
color:black;
font-size: 16px;
display: flex;
align-items: center;
font-weight: 600;
}
.Location-bar{
width: 70%;
background-color:#eaeaea;
border: 1px;
}
.icon-location {
display: flex;
justify-content:end;
align-items: center;
width: 30%;
height: auto;
background-color: #eaeaea;
padding-right: 10px;
}
.Title{
font-family:"Roboto";
font-size: 15px;
display: flex;
width: 100%;
}
a{
text-decoration: none;
color:currentColor
}
/*Main*/
.main {
display:flex;
flex-wrap: wrap;
flex-direction: column;
}
.Presentation{
display: flex;
align-items: center;
width: 100%;
flex-direction: column;
background-color: #f6f6f6;
margin: auto;
padding-bottom: 15px;
}
.Presentation-title{
font-family:'Roboto';
width: 70%;
font-size: 18px;
text-align: center;
margin: auto;
padding: 0;
}
.Presentation-subtitle{
display: flex;
width: 95%;
justify-content: center;
text-align: center;
font-size: 20px;
margin: 10px 0 15px 0;
}
.button{
width: 55%;
background:linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
border-radius: 30px;
display:flex;
justify-content: center;
align-items: center;
margin-bottom: 10px;
cursor: pointer;
height: 45px;
transition-duration: 2s;
box-shadow: 5px 5px 10px rgba(0,0,0,.25);
}
.btn-text{
color: white;
font-weight: 700;
}
.Choices{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
}
.Choices-content{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
width: 100%;
margin:auto;
}
.Choice{
width: 95%;
display:flex;
border-radius: 20px;
border: 2px;
height: 60px;
background-color: #f6f6f6;
margin: 20px 0 0 0;
padding: 15px 10px 15px 0;
}
.Choice:last-child{
  background-color: #f5edff;
}
.Choice-ref{
background-color: #9356DC;
color: #fff;
border-radius: 50px;
width: 25px;
height: 25PX;
margin-left: -6px;
justify-content: center;
align-items: center;
display: flex;
}
.Choice-Content{
width: 80%;
display: flex;
align-items:center;
}
.Choice-icon{
width: 15%;
display: flex;
justify-content: center;
align-items: center;
}
.Restaurants{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
margin-top: 20px;

}
.Restaurants-choices{
display: flex;
justify-content: space-evenly;
flex-direction: column;
align-items: center;
width: 100%;
border-radius: 20px;
margin-bottom: 20px;
}
.Restaurant{
display: flex;
flex-direction: column;
width: 100%;
height: 300px;
border-radius: 20px;
justify-content: center;
align-items: center;
margin-top: 15px;
border: solid 2px #f6f6f6;
-webkit-transform: scale(1);
transform: scale(1);
}
.Restaurant-img{
width: 100%;
height: 80%;
object-fit: cover;
border-top-left-radius:15px ;
border-top-right-radius: 15px;
}
.Badge{
background-color: #99e2d0;
color: #1b6150;
padding: 8px;
position: absolute;
border-radius: 2px;
right: 12px;
margin: 10px 20px 130px 10px;
}
.Restaurant-content{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 20%;
background-color: #fff;
padding:10px ;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
}
.Restautant-text{
display: flex;
justify-content: center;
width: 90%;
height: 100%;
flex-direction: column;
}
.Restautant-text h3 {
margin: auto;
width: 100%;
}
.Restautant-text p {
margin: auto;
width: 100%;
}
.Restaurant:hover{
  -webkit-transform: scale(1.02); 
   transform: scale(1.02);
}
.Like{
display: flex;
justify-content: center;
align-items: center;
position: relative;
width: 10%;
}
.Like-empty{
position: absolute;
}
.Like-full{
  color: transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
  background-clip: text;
  opacity: 0;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-background-clip: text

}
.Like-full:hover{
position: absolute;
opacity: 1;
transform: scale(1.1);  
}
.Footer{
background-color: #353535;
color: white;
padding: 10px 0 0 10px;
margin: auto;
}
.Footer p{
font-family: Shrikhand; 
margin:auto;
}
.Footer ul{
padding:0;
list-style:none ;
 }
.Footer-icon{
color: white;
    margin-bottom: 5px;
 }
.Footer i{
width: 5%;
}
.Footer-elmt:hover{
text-decoration: underline;
}

/*pages*/
.Header-menu{
width: 100%;
display: flex;
margin: auto;
}
.Header-menu a{
color: #000;
 }
.Header-icon{
display: flex;
width: 25%;
justify-content: center;
align-items: center;
margin: 10px 0 10px 0;
}
.Hearder-menu-title{
font-family: "Shrikhand","cursive";
}
.Main-menu{
display: flex;
flex-direction: column;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
background-color: #f6f6f6;
position: relative;
padding: 10px 0 0 10px;
margin-top: -80px;
}
.Menu{
display: flex;
width: 100%;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 0 0 30px 0;
}
.Menu-title{
font-family:"shrikhand","cursive";
font-size: 15px;
display: flex;
width: 100%;
}
.Menu-title h2{
margin: 10px;
}
.Sub-Menu{
width: 100%;
display: flex;
flex-direction: column;
margin: 15px 10px 15px 10px;
}
.Sub-Menu-title{
display: flex;
width: 100%;
font-family: Roboto;
font-size: 18px;
text-transform: uppercase;
margin:0 0 10px 0;
}
.Sub-Menu-title:after {
content:"";
width: 45px;
height: 5px;
background-color: #99e2d0;
position: absolute;
left: 10px;
margin-top: 30px;
}
.Sub-Menu1{
animation-duration: 3s;
animation-delay: 1s;
animation-name: glissement;
}
.Sub-Menu2{
animation-duration: 3s;
animation-delay: 1.5s;
animation-name: glissement;
}
.Sub-Menu3{
animation-duration: 3s;
animation-delay: 2s;
animation-name: glissement;
}
.Sub-Menu4{
  animation-duration: 4s;
  animation-delay: 2.5s;
  animation-name: glissement;
  }
@keyframes glissement {
from {
opacity:0;
transform:translateY(-15px);
}
to {
opacity:1;
transform:translateY(0px);
}
}
.Sub-Menu-items{
display: flex;
justify-content: center;
margin: 15px 15px 0 15px;
background-color: white;
box-shadow: 0 0 20px #0000002e;
border-radius: 20px;
}
.Sub-Menu-info{
display: flex;
justify-content: space-between;
align-items: center;
overflow: hidden;
max-width: 100%;
padding: 0 0 0 10px;
flex: 1;
}
.Sub-Menu-content{
display: flex;
flex-direction: column;
justify-content: space-between;
overflow: hidden;
white-space:nowrap;
width: 100%;
padding-left: 10px;
margin: 10px;
}
.Content-title{
font-size: 16px;
font-weight: 600;
overflow: hidden;
text-overflow: ellipsis;
margin: 0;
}
.Content-details{
font-weight: 300;
overflow: hidden;
text-overflow: ellipsis;
margin: 5px 0 0 0;
}
.Sub-Menu-price{
width: 15%;
display: flex;
align-items: flex-end;
font-weight: 600;
}
.Sub-Menu-conf{
height: auto;
width: 0;
display: flex;
align-items: center;
border-radius: 0 15px 15px 0;
justify-content: center;
cursor: pointer;
transition: transform 0.4s ease-in-out, width 0.4s ease-in-out, opacity 0.4s ease-in-out;
background-color: #99e2d0;
opacity: 0;
}
.Sub-Menu-items:hover .Sub-Menu-icon{
  transform: rotate(360deg);
  transition-duration: 1.5s ;
  }
  
.Sub-Menu-items:hover .Sub-Menu-conf {
opacity: 100%;
width: 64px;
}

.Sub-Menu-icon{
height: 26px;
width: 26px;
background-color: #fff;
display: flex;
align-items: center;
justify-content: center;
border-radius: 100px;
}
.fa-check{
color: #99E2D0;
}
.Command{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
@media only screen and (min-width: 992px) {
.Location-bar{
width: 50%;
}
.icon-location {
width: 50%;
}
.button{
width: 20%;
}
.Choice{
  width: 30%;
}
.Choices-content{
flex-direction: row;
justify-content: space-evenly;
}
.Restaurants{
display: flex;
width: 100%;
}
.Restaurants-choices{
display: flex;
flex-direction: row;
}
.Restaurant{
display: flex;
width: 22%;
}
.Badge{
  right: auto;
  margin-right: -220px;
}
/*pages*/
.Header-img{
  height: 400px;
  width: 100%;
}
.Header-icon{
width: 40%;
justify-content: flex-end;
margin-right: 10px;
}
.Main-menu{
  margin-top: -100px;
  }
.Menu{
flex-direction: row;
}
.Sub-Menu{
  width: 100%;
  height: 350px;
  }
.Sub-Menu-title:after {
left: auto;
}
.Footer i{
  width: 1%;
  }
}
